.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#signupbtn:hover{
  background-color: mediumaquamarine;
}

#signinbtn:hover{
  background-color: mediumaquamarine;
}


#signupCard,#signinCard{
  border-color: green;
  border-style: groove;
  border-radius: 20px;
  padding-bottom: 10px;
}

/* #navbar{
  height: 110px;
  background-color: rgba(128, 255, 0, 0.152);
} */

#navstuff{
  text-decoration: none;
  padding-right: 30px;
}
#navcompo{
  background-color: beige;
  border-radius: 10px;
  text-decoration: none;
  color: teal  ;
  height: 50px;
}
#navcompo a:active{
  background-color: #61dafb;
  color: brown;
}
#navcompo:hover{
  background-color: cadetblue;
}
#logofoot{
  border-radius: 30px;
  text-decoration: none;
}
#foot{
  background: linear-gradient(to bottom, #90ee905c,#00330061)
}
/* #signupbody{
  background-image: url(/public/images/market-sample.jpg);
} */
.product_img{
  object-fit: contain;
  height: 300px;
  width: 100%;
 }

.AboutUsPage{
  background-image: url(/public/images/groceryonline.jpg);
  height: 100%;
}
/* #desc{
  background-color: cadetblue;
} */